<html ng-app="app">

<head>
    <script type="text/javascript" src="/js/lib/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <title> Admin_Panel </title>
</head>


<body ng-controller="mainCtrl">

    <h1 id="panel" style="border-style: solid; border-width: 5px;">你好<h1>

        <form id="broadcast">
          <label>BroadCast</label>
          <p>Say something to it!</p>
          <input type="hidden" name="name" value=""/>
          <input type="hidden" name="type" value="broadcast"/>
          <textarea cols="40" rows="5" name="thing"></textarea>
          <input type="submit" value="Say it!" onclick="$(this.form).submit(aSubmit)" />
        </form>

        <br>
        <h2>current users</h2>
        <br>



        <form name="{{form.formname}}"
              ng-repeat="form in formList">
          <h2>{{form.username}}</h2>
          <textarea cols="40" rows="5"  ng-model="form.textarea"> </textarea>

          <button ng-click="submit(form)">Submit</button>
          <hr>
          <br>
        </form>





  </body>

</html>
